@import "../../helper/modifier.scss";
@import "../../helper/variable.scss";

.name {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        position: fixed;
        width: 100vw;

        &--logo {
            a {
                padding: 0 10px;
            }
            a:hover {
                color: $iconesHover;
                transition: linear .3s;
            }
        }
    }
<<<<<<< HEAD
    .description {
        background: #fff;
        padding: 8%;
        position: absolute;
        top: 100%;
    }
=======
.description {
    background: #fff;
    padding: 8%;
    position: absolute;
    top: 100%;
}
/*****************************
Media queries
****************************/
@media screen and (min-width: 1001px) {
    .name {
        width: 50vw;
    }
    .description {
        left: 50%;
    }
}
>>>>>>> dev
