@import "../../helper/modifier.scss";
@import "../../helper/variable.scss";

.header--name {
    align-items: center;
    display: flex;
    justify-content: center;
}
.header--nav {
    border-top: 1px solid #eee;
    display: flex;

    & p {
            padding: 1% 0;
        }
    & p:first-child {
            margin-left: 20px;
        }
}
.is__work__nav__link {
        margin-right: 20px;
    }
/*****************************
Media queries
****************************/
@media screen and (max-width: 570px) {
    .header--nav {
        justify-content: center;
    }
}
@media screen and (max-width: 629px) {
    .is__work__nav__link {
        padding-bottom: 19px;
    }
}
@media screen and (min-width: 630px) {
    .is__work__nav__link {
        padding-bottom: 21px;
    }
}
@media screen and (min-width: 800px) {
    .is__work__nav__link {
        padding-bottom: 23px;
    }
}
@media screen and (min-width: 1000px) {
    .is__work__nav__link {
        padding-bottom: 25px;
    }
}
@media screen and (min-width: 1137px) {
    .is__work__nav__link {
        padding-bottom: 27px;
    }
}
@media screen and (min-width: 1400px) {
    .is__work__nav__link {
        padding-bottom: 28px;
    }
}