/******************************************
Color
******************************************/
$primaryTitleColor: #000;
$icones: #000;
$iconesHover: #555;

/******************************************
Font-size
******************************************/
$primarySizeTitleMobile: 3.7rem;
$primarySizeTitleMax650: 4.5rem;
$primarySizeTitleMax800: 5rem;
$primarySizeTitleMax1000: 5.5rem;
$primarySizeTitleMin1001: 4.5rem;
$primarySizeTitleMin1300: 5.5rem;
$primarySizeTitle: 6rem;
$textDescriptionSize: 1.2rem;
$textDescriptionSizeMobile: 1.3rem;
$textDescriptionSizeMax650: 1.6rem;
$textDescriptionSizeMax800: 1.8rem;
$textDescriptionSizeMax1000: 2rem;
$textDescriptionSizeMin1001: 1.3rem;
$textDescriptionSizeMin1300: 1.5rem;
