/******************************************
Color
******************************************/
$primaryTitleColor: #000;
$icones: #000;
$iconesHover: #555;

/******************************************
Font-size
******************************************/
$primarySizeTitleMobile: 3.7rem;
$primarySizeTitleMax650: 4.5rem;
$primarySizeTitle: 6rem;
$textDescriptionSize: 1.2rem;
$textDescriptionSizeMobile: 1.3rem;
$textDescriptionSizeMax650: 1.6rem;