body {
  margin: 0;
  padding: 0; }

.main {
  position: relative; }

.main--work {
  background: #fbfbfb; }

/******************************************
Color
******************************************/
/******************************************
Font-size
******************************************/
/*******************************************
Container
*******************************************/
.container {
  max-width: 1152px;
  margin: 0 auto; }

/*******************************************
Icones, images
*******************************************/
.is__icone {
  color: #000;
  text-decoration: none; }

.is__work__projects__img {
  width: 100%;
  height: auto; }

/*******************************************
Link
*******************************************/
.is__work__nav__link {
  color: #000;
  font-family: "Open-sans",sans-serif;
  font-weight: lighter;
  text-decoration: none;
  border-bottom: 3px solid #eee; }

.is__work__nav__link:hover {
  opacity: .5;
  transition: linear .5s; }

/*******************************************
Media queries link
*******************************************/
/*******************************************
Text
*******************************************/
.is__text__description,
.is__work__project__description {
  color: #000;
  font-family: 'Open-Sans',sans-serif;
  font-weight: lighter; }

.is__work__project__description {
  margin: 0; }

/*******************************************
Media queries text
*******************************************/
@media screen and (max-width: 570px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 571px) and (max-width: 650px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 651px) and (max-width: 800px) {
  .is__text__description {
    font-size: 1.3rem; } }

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .is__text__description {
    font-size: 1.4rem; } }

@media screen and (min-width: 1001px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 1300px) {
  .is__text__description {
    font-size: 1.3rem; } }

/*******************************************
Title
*******************************************/
.is__main__title,
.is__main__subTitle,
.is__work__main__title,
.is__work__projects__title,
.is__work__subTitle {
  color: #000;
  font-family: "Raleway", sans-serif; }

.is__work__subTitle {
  border-bottom: 2px solid #f4f4f4;
  margin-top: 0;
  padding-bottom: 1%; }

.is__work__subTitle > span {
  border-bottom: 2px solid #4199ff;
  padding-bottom: .98%; }

.is__work__projects__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4%; }

/*******************************************
Media queries title
*******************************************/
@media screen and (max-width: 570px) {
  .is__main__title {
    font-size: 3.7rem; }
  .is__main__subTitle {
    font-size: 1.6em; } }

@media screen and (min-width: 571px) and (max-width: 650px) {
  .is__main__title {
    font-size: 4.5rem; }
  .is__main__subTitle {
    font-size: 1.9em; } }

@media screen and (min-width: 651px) and (max-width: 800px) {
  .is__main__title {
    font-size: 5rem; }
  .is__main__subTitle {
    font-size: 2.1em; }
  .is__work__main__title {
    font-size: 2.3em; }
  .is__work__subTitle {
    font-size: 1.7em; } }

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .is__main__title {
    font-size: 5.5rem; }
  .is__main__subTitle {
    font-size: 2.5em; }
  .is__work__main__title {
    font-size: 2.3em; }
  .is__work__subTitle {
    font-size: 1.9em; } }

@media screen and (min-width: 1001px) {
  .is__main__title {
    font-size: 4.5rem; }
  .is__main__subTitle {
    font-size: 1.6em; }
  .is__work__main__title {
    font-size: 2.5em; }
  .is__work__subTitle {
    font-size: 2.1em; } }

@media screen and (min-width: 1300px) {
  .is__main__title {
    font-size: 5.5rem; }
  .is__main__subTitle {
    font-size: 2em; }
  .is__work__main__title {
    font-size: 2.7em; }
  .is__work__subTitle {
    font-size: 2.5em; } }

/******************************************
Color
******************************************/
/******************************************
Font-size
******************************************/
.name {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw; }
  .name--logo a {
    padding: 0 10px; }
  .name--logo a:hover {
    color: #555;
    transition: linear .3s; }

.description {
  background: #fff;
  padding: 8%;
  position: absolute;
  top: 100%; }

/*****************************
Media queries
****************************/
@media screen and (min-width: 1001px) {
  .name {
    width: 50vw; }
  .description {
    left: 50%; } }

/******************************************
Color
******************************************/
/******************************************
Font-size
******************************************/
/*******************************************
Container
*******************************************/
.container {
  max-width: 1152px;
  margin: 0 auto; }

/*******************************************
Icones, images
*******************************************/
.is__icone {
  color: #000;
  text-decoration: none; }

.is__work__projects__img {
  width: 100%;
  height: auto; }

/*******************************************
Link
*******************************************/
.is__work__nav__link {
  color: #000;
  font-family: "Open-sans",sans-serif;
  font-weight: lighter;
  text-decoration: none;
  border-bottom: 3px solid #eee; }

.is__work__nav__link:hover {
  opacity: .5;
  transition: linear .5s; }

/*******************************************
Media queries link
*******************************************/
/*******************************************
Text
*******************************************/
.is__text__description,
.is__work__project__description {
  color: #000;
  font-family: 'Open-Sans',sans-serif;
  font-weight: lighter; }

.is__work__project__description {
  margin: 0; }

/*******************************************
Media queries text
*******************************************/
@media screen and (max-width: 570px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 571px) and (max-width: 650px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 651px) and (max-width: 800px) {
  .is__text__description {
    font-size: 1.3rem; } }

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .is__text__description {
    font-size: 1.4rem; } }

@media screen and (min-width: 1001px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 1300px) {
  .is__text__description {
    font-size: 1.3rem; } }

/*******************************************
Title
*******************************************/
.is__main__title,
.is__main__subTitle,
.is__work__main__title,
.is__work__projects__title,
.is__work__subTitle {
  color: #000;
  font-family: "Raleway", sans-serif; }

.is__work__subTitle {
  border-bottom: 2px solid #f4f4f4;
  margin-top: 0;
  padding-bottom: 1%; }

.is__work__subTitle > span {
  border-bottom: 2px solid #4199ff;
  padding-bottom: .98%; }

.is__work__projects__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4%; }

/*******************************************
Media queries title
*******************************************/
@media screen and (max-width: 570px) {
  .is__main__title {
    font-size: 3.7rem; }
  .is__main__subTitle {
    font-size: 1.6em; } }

@media screen and (min-width: 571px) and (max-width: 650px) {
  .is__main__title {
    font-size: 4.5rem; }
  .is__main__subTitle {
    font-size: 1.9em; } }

@media screen and (min-width: 651px) and (max-width: 800px) {
  .is__main__title {
    font-size: 5rem; }
  .is__main__subTitle {
    font-size: 2.1em; }
  .is__work__main__title {
    font-size: 2.3em; }
  .is__work__subTitle {
    font-size: 1.7em; } }

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .is__main__title {
    font-size: 5.5rem; }
  .is__main__subTitle {
    font-size: 2.5em; }
  .is__work__main__title {
    font-size: 2.3em; }
  .is__work__subTitle {
    font-size: 1.9em; } }

@media screen and (min-width: 1001px) {
  .is__main__title {
    font-size: 4.5rem; }
  .is__main__subTitle {
    font-size: 1.6em; }
  .is__work__main__title {
    font-size: 2.5em; }
  .is__work__subTitle {
    font-size: 2.1em; } }

@media screen and (min-width: 1300px) {
  .is__main__title {
    font-size: 5.5rem; }
  .is__main__subTitle {
    font-size: 2em; }
  .is__work__main__title {
    font-size: 2.7em; }
  .is__work__subTitle {
    font-size: 2.5em; } }

/******************************************
Color
******************************************/
/******************************************
Font-size
******************************************/
.header--name {
  align-items: center;
  display: flex;
  justify-content: center; }

.header--nav {
  border-top: 1px solid #eee;
  display: flex; }
  .header--nav p {
    padding: 1% 0; }
  .header--nav p:first-child {
    margin-left: 20px; }

.is__work__nav__link {
  margin-right: 20px; }

/*****************************
Media queries
****************************/
@media screen and (max-width: 570px) {
  .header--nav {
    justify-content: center; } }

@media screen and (max-width: 629px) {
  .is__work__nav__link {
    padding-bottom: 19px; } }

@media screen and (min-width: 630px) {
  .is__work__nav__link {
    padding-bottom: 21px; } }

@media screen and (min-width: 800px) {
  .is__work__nav__link {
    padding-bottom: 23px; } }

@media screen and (min-width: 1000px) {
  .is__work__nav__link {
    padding-bottom: 25px; } }

@media screen and (min-width: 1137px) {
  .is__work__nav__link {
    padding-bottom: 27px; } }

@media screen and (min-width: 1400px) {
  .is__work__nav__link {
    padding-bottom: 28px; } }

/******************************************
Color
******************************************/
/******************************************
Font-size
******************************************/
/*******************************************
Container
*******************************************/
.container {
  max-width: 1152px;
  margin: 0 auto; }

/*******************************************
Icones, images
*******************************************/
.is__icone {
  color: #000;
  text-decoration: none; }

.is__work__projects__img {
  width: 100%;
  height: auto; }

/*******************************************
Link
*******************************************/
.is__work__nav__link {
  color: #000;
  font-family: "Open-sans",sans-serif;
  font-weight: lighter;
  text-decoration: none;
  border-bottom: 3px solid #eee; }

.is__work__nav__link:hover {
  opacity: .5;
  transition: linear .5s; }

/*******************************************
Media queries link
*******************************************/
/*******************************************
Text
*******************************************/
.is__text__description,
.is__work__project__description {
  color: #000;
  font-family: 'Open-Sans',sans-serif;
  font-weight: lighter; }

.is__work__project__description {
  margin: 0; }

/*******************************************
Media queries text
*******************************************/
@media screen and (max-width: 570px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 571px) and (max-width: 650px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 651px) and (max-width: 800px) {
  .is__text__description {
    font-size: 1.3rem; } }

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .is__text__description {
    font-size: 1.4rem; } }

@media screen and (min-width: 1001px) {
  .is__text__description {
    font-size: 1.1rem; } }

@media screen and (min-width: 1300px) {
  .is__text__description {
    font-size: 1.3rem; } }

/*******************************************
Title
*******************************************/
.is__main__title,
.is__main__subTitle,
.is__work__main__title,
.is__work__projects__title,
.is__work__subTitle {
  color: #000;
  font-family: "Raleway", sans-serif; }

.is__work__subTitle {
  border-bottom: 2px solid #f4f4f4;
  margin-top: 0;
  padding-bottom: 1%; }

.is__work__subTitle > span {
  border-bottom: 2px solid #4199ff;
  padding-bottom: .98%; }

.is__work__projects__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4%; }

/*******************************************
Media queries title
*******************************************/
@media screen and (max-width: 570px) {
  .is__main__title {
    font-size: 3.7rem; }
  .is__main__subTitle {
    font-size: 1.6em; } }

@media screen and (min-width: 571px) and (max-width: 650px) {
  .is__main__title {
    font-size: 4.5rem; }
  .is__main__subTitle {
    font-size: 1.9em; } }

@media screen and (min-width: 651px) and (max-width: 800px) {
  .is__main__title {
    font-size: 5rem; }
  .is__main__subTitle {
    font-size: 2.1em; }
  .is__work__main__title {
    font-size: 2.3em; }
  .is__work__subTitle {
    font-size: 1.7em; } }

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .is__main__title {
    font-size: 5.5rem; }
  .is__main__subTitle {
    font-size: 2.5em; }
  .is__work__main__title {
    font-size: 2.3em; }
  .is__work__subTitle {
    font-size: 1.9em; } }

@media screen and (min-width: 1001px) {
  .is__main__title {
    font-size: 4.5rem; }
  .is__main__subTitle {
    font-size: 1.6em; }
  .is__work__main__title {
    font-size: 2.5em; }
  .is__work__subTitle {
    font-size: 2.1em; } }

@media screen and (min-width: 1300px) {
  .is__main__title {
    font-size: 5.5rem; }
  .is__main__subTitle {
    font-size: 2em; }
  .is__work__main__title {
    font-size: 2.7em; }
  .is__work__subTitle {
    font-size: 2.5em; } }

/******************************************
Color
******************************************/
/******************************************
Font-size
******************************************/
.project--pro,
.project--perso {
  padding: 4rem 0; }

.project--pro--title,
.project--perso--title {
  margin: 0 4% 0 1%; }

.project--pro--projects,
.project--perso--projects {
  display: flex;
  flex-wrap: wrap; }

.project--pro--projects--item,
.project--perso--projects--item {
  background: #fff;
  border-radius: 6px;
  margin: 1%;
  padding: 1.25rem; }

.project--pro--projects--item:hover,
.project--perso--projects--item:hover {
  box-shadow: 1px 7px 24px 10px rgba(0, 0, 0, 0.04);
  transition: .3s linear; }

/*******************************************
Media queries 
*******************************************/
@media screen and (max-width: 769px) {
  .project--pro--projects--item,
  .project--perso--projects--item {
    width: 100%;
    margin: 2%; } }

@media screen and (min-width: 769px) {
  .project--pro--projects--item,
  .project--perso--projects--item {
    width: 42%; } }

@media screen and (min-width: 1088px) {
  .project--pro--projects--item,
  .project--perso--projects--item {
    width: 27%; } }
